doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content="")
    meta(property="og:title" content=title)
    meta(property="og:type" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    meta(property="og:site_name" content="")
    meta(property="og:description" content=description)
    meta(property="fb:app_id" content="")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="")
    link(href="css/style.css" rel="stylesheet")
  body
    main.contents
      h1.ttl 万里眼
      p.loading
      div#sv
      div#map
    div.social
      input.social_txt(type="text" readonly)
      div.social_btns
        p.social_btns_inner.tweet
        p.social_btns_inner.facebook
        p.social_btns_inner.hatena
        p.social_btns_inner.gplus
        p.social_btns_inner.link
      p.link_balloon link has been copied
    p.social_btn
    script(src="js/script.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9W0OlTSlpe8umt7L3J9hIvMrByhVStdA&callback=initMap")
    script
      include ga.js
